@import "variables";

.main-wrapper {
    > *:not(.acf-block-section-element) {
        
        &:not(.alignwide):not(.alignfull) {
            max-width: var(--wp--style--global--content-size);
        }
    
        &:not(.alignfull) {
            margin-left: auto;
            margin-right: auto;
        }
        
        &.alignwide {
            max-width: var(--wp--style--global--wide-size);
        }
    
        &.alignfull {
            max-width: 100%;
        }
    }
}
