@import "variables";

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
    margin: 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}

hr:not([size]) {
    height: 1px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

abbr[title],
abbr[data-bs-original-title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ul {
    padding: 0;
    margin: 0 0 25px 20px;
    list-style: disc inside;
    
    &:last-child {
        margin-bottom: 0;
    }
    
    & & {
        list-style-type: circle;
    }
    
    & & & {
        list-style-type: square;
    }
}

ol {
    padding: 0;
    margin: 0 0 25px 25px;
    list-style-position: inside;
    
    &:last-child {
        margin-bottom: 0;
    }
}

ul, ol {
    &.wp-block-list {
        .block-editor-rich-text__editable {
            display: inline-block;
        }
    }
}

dl {
    margin-bottom: 20px;
}

dd {
    margin: 0 20px 20px;
}

dt {
    font-weight: 700;
}

blockquote, q {
    padding: 0 0 0 40px;
    position: relative;
    display: block;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

mark {
    background-color: #fcf8e3;
}

sub,
sup {
    position: relative;
    font-size: _rem(12);
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -4px;
}

sup {
    top: -8px;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

pre {
    background-color: #eee;
    font-size: _rem(17);
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 100%;
    overflow: auto;
    padding: 15px;
    text-align: left;
    
    [dir=rtl] & {
        text-align: right;
    }
}

pre,
code,
kbd,
samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: _rem(16);
    direction: ltr /* rtl:ignore */
;
    unicode-bidi: bidi-override;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
    overflow: auto;
    font-size: _rem(14);
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

code {
    font-size: _rem(14);
    color: #d63384;
    word-wrap: break-word;
}

a > code {
    color: inherit;
}

kbd {
    padding: 0.2rem 0.4rem;
    font-size: 0.875em;
    color: #fff;
    background-color: #212529;
    border-radius: 0.2rem;
}

kbd kbd {
    padding: 0;
    font-size: 1em;
    font-weight: 700;
}

code {
    background-color: #f9f9f9;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 3px;
}

figure {
    margin: 0 0 15px;
}

img,
svg {
    vertical-align: middle;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    margin: 15px 0 25px;
    
    caption {
        caption-side: top;
        text-align: center;
        padding-top: 0;
        padding-bottom: 10px;
        color: #6c757d;
    }
    
    thead {
        background-color: #f9f9f9;
    }
    
    tbody {
        
        tr {
            border-bottom: 1px solid #eee;
            
            &:last-child {
                border-bottom: none;
            }
        }
    }
    
    tfoot {
        background-color: #f9f9f9;
    }
    
    th, td {
        padding: 10px 15px;
    }
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

label {
    display: inline-block;
}

button {
    border-radius: 0;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
select {
    text-transform: none;
}

[role=button] {
    cursor: pointer;
}

select {
    word-wrap: normal;
}

select:disabled {
    opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
    display: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

textarea {
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: calc(1.275rem + 0.3vw);
    line-height: inherit;
    
    @media (min-width: 1200px) {
        font-size: 1.5rem;
    }
    
    + * {
        clear: left;
    }
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
    padding: 0;
}

::-webkit-inner-spin-button {
    height: auto;
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::file-selector-button {
    font: inherit;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

iframe {
    border: 0;
}

summary {
    display: list-item;
    cursor: pointer;
}

progress {
    vertical-align: baseline;
}

[hidden] {
    display: none !important;
}

kbd {
    padding: 2px 5px;
    border-radius: 4px;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

embed,
iframe,
object {
    margin-bottom: 20px;
    max-width: 100%;
}

button,
input {
    &:focus {
        outline: 0;
    }
}
