@import "variables";

.interface-interface-skeleton__editor {
    width: 100%;
}

.editor-post-title {
    padding: 0 30px;
    margin-bottom: 0;
}

.is-layout-flow {
    > .wp-block {
        &:not(.alignwide):not(.alignfull) {
            max-width: var(--wp--style--global--content-size);
        }
    
        &:not(.alignfull) {
            margin-left: auto;
            margin-right: auto;
        }
    
        &.alignwide {
            max-width: var(--wp--style--global--wide-size);
        }
    
        &.alignfull {
            max-width: 100%;
        }
    }
}

.block-editor-block-list__layout {
    padding-left: 15px;
    padding-right: 15px;
}

@import "style";
